xsd/niem/domains/cbrn/4.0/cbrn.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/cbrn/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:cbrncl="http://release.niem.gov/niem/codes/cbrncl/4.0/">
  <xs:annotation>
    <xs:documentation>Chemical, Biological, Radiological, and Nuclear Domain</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/cbrncl/4.0/cbrncl.xsd" namespace="http://release.niem.gov/niem/codes/cbrncl/4.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
  <xs:import schemaLocation="../../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:complexType name="AnalysisResultsType">
    <xs:annotation>
      <xs:documentation>A data type to provide information on the results of a radiation data analysis.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataFileType">
    <xs:annotation>
      <xs:documentation>A data type that defines a data file and its properties.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DetectionEventUserEntryDataType">
    <xs:annotation>
      <xs:documentation>A data type that provides user/operator data entries relevant to the Detection Event, for identification of the measured item, its shielding, and operator comments.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceIdentificationType">
    <xs:annotation>
      <xs:documentation>A data type to provide information regarding an encounter device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DoseRateType">
    <xs:annotation>
      <xs:documentation>A data type for radiation dose rate data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DoseRateuSvhType">
    <xs:annotation>
      <xs:documentation>A data type for radiation dose rate whose value is positive and expressed in microsieverts per hour (uSv/h) units.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cbrn:NonNegativeDoubleType">
        <xs:attribute ref="cbrn:unitsText" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DoubleType">
    <xs:annotation>
      <xs:documentation>A data type for a  double precision real value.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ImageFileType">
    <xs:annotation>
      <xs:documentation>A Data type to capture the Image file Type</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:DataFileType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NonBlankStringSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a string that is not empty and does not consist of only white space characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="NonBlankStringType">
    <xs:annotation>
      <xs:documentation>A data type that defines a string value that can not be blank</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cbrn:NonBlankStringSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="NonNegativeDoubleSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a double with value of zero or greater.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:complexType name="NonNegativeDoubleType">
    <xs:annotation>
      <xs:documentation>A data type for a double with value of zero or greater.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cbrn:NonNegativeDoubleSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NuclideActivityUncertaintyType">
    <xs:annotation>
      <xs:documentation>A data type for the uncertainty in the value of NuclideActivityValue, expressed in kiloBequerel (kBq) units.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cbrn:NonNegativeDoubleType">
        <xs:attribute ref="cbrn:unitsText" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NuclideMDAType">
    <xs:annotation>
      <xs:documentation>A data type for minimum detectable activity (MDA) of a nuclide, expressed in kiloBequerel (kBq) units.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cbrn:PositiveDoubleType">
        <xs:attribute ref="cbrn:unitsText" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OriginType">
    <xs:annotation>
      <xs:documentation>A data type for the origin of a relative location coordinate system.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PositiveDoubleSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a double with values greater than zero.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:complexType name="PositiveDoubleType">
    <xs:annotation>
      <xs:documentation>A data type for a double with values greater than zero.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cbrn:PositiveDoubleSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RadDetectorInformationType">
    <xs:annotation>
      <xs:documentation>A data type for information regarding a rad detector.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType">
        <xs:sequence>
          <xs:element ref="cbrn:RadDetectorCategoryCode" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cbrn:RadDetectorKindCode" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RadInstrumentInformationType">
    <xs:annotation>
      <xs:documentation>A data type that provides information regarding a radiation detection instrument.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType">
        <xs:sequence>
          <xs:element ref="cbrn:RadInstrumentManufacturerName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cbrn:RadInstrumentModelName" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RadInstrumentVersionType">
    <xs:annotation>
      <xs:documentation>A data type for version information for the relevant components of a radiation instrument.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType">
        <xs:sequence>
          <xs:element ref="cbrn:RadInstrumentComponentName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="cbrn:RadInstrumentComponentVersionText" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RadItemInformationType">
    <xs:annotation>
      <xs:documentation>A data type that provides information regarding an item from which radiation is being measured by the radiation instrument, and measurement data is reported in this xml document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelativeLocationType">
    <xs:annotation>
      <xs:documentation>A data type for describing the relative location of an object.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cbrn:RemarksComplexObjectType">
        <xs:sequence>
          <xs:element ref="cbrn:Origin" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemarksComplexObjectType">
    <xs:annotation>
      <xs:documentation>A data type providing a Remark via inheritance to applicable Types.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="sequenceNumeric" type="xs:positiveInteger">
    <xs:annotation>
      <xs:documentation>A processing order of multiple MultimediaData elements; the elements should be processed in increasing order of this value.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="unitsText" type="xs:token">
    <xs:annotation>
      <xs:documentation>A unit of measure for a value element. If used, the unit of measure shall be as stated in the documentation for the element.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="AnalysisResults" type="cbrn:AnalysisResultsType" substitutionGroup="cbrn:RadInstrumentDataChoiceAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A collection of information resulting from an analysis of radiation measurements or derived data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DoseRate" type="cbrn:DoseRateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measured ambient dose equivalent rate, provided as a value and/or a qualitative description.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DoseRateValue" type="cbrn:DoseRateuSvhType" nillable="true">
    <xs:annotation>
      <xs:documentation>A  measured ambient radiation dose equivalent rate value, in microsieverts per hour (Sv/h).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LowerLimitValue" type="cbrn:DoubleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A lowest value of X for which an equation is valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NuclideActivityUncertaintyValue" type="cbrn:NuclideActivityUncertaintyType" nillable="true">
    <xs:annotation>
      <xs:documentation>A 1-sigma absolute uncertainty in the value of  a NuclideActivityValue, expressed in kilobequerel (kBq) units.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NuclideMinimumDetectableActivityValue" type="cbrn:NuclideMDAType" nillable="true">
    <xs:annotation>
      <xs:documentation>A value for the minimum detectable activity (MDA) of a nuclide, expressed in kilobequerel (kBq) units.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Origin" type="cbrn:OriginType" nillable="true">
    <xs:annotation>
      <xs:documentation>A definition of an origin in a relative location coordinate system. The coordinates of a point in the relative location system are defined based on this origin.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadDetectorCategoryCode" type="cbrncl:RadDetectorCategoryCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code for a general category of radiation detected; e.g., Gamma, Neutron.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadDetectorKindCode" type="cbrncl:RadDetectorKindCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code for a specific kind of radiation detector; e.g., NaI.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentClassCode" type="cbrncl:RadInstrumentClassCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code for a class of radiation measurement instrument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentComponentName" type="cbrn:NonBlankStringType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Name of the radiation detection measurement component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentComponentVersionText" type="cbrn:NonBlankStringType" nillable="true">
    <xs:annotation>
      <xs:documentation>A  description of the version of a particular radiation measurement instrument component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentDataChoiceAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a variant of data that is generated by the rad instrument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentInformation" type="cbrn:RadInstrumentInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of information that describes a radiation measurement instrument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentManufacturerName" type="cbrn:NonBlankStringType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Name of the manufacturer of the radiation measurement instrument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentModelName" type="cbrn:NonBlankStringType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of the  manufacturer's model  radiation measurement instrument, number, or other description of the radiation measurement instrument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RadInstrumentVersion" type="cbrn:RadInstrumentVersionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the versions of the various components of a radiation measurement instrument.  At a minimum, there shall be an instance of this element with the component name Software that describes the version of the software and/or firmware that collected the radiation data that is reported by a radiation detection instrument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportDateTime" type="niem-xs:dateTime" nillable="true">
    <xs:annotation>
      <xs:documentation>A DateTime when a report was created.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UpperLimitValue" type="cbrn:DoubleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A highest value of X for which an equation is valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
