xsd/extension/nfdem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument"
    targetNamespace="http://www.dtechspace.com/xml-schema/nfdem/0.5/" version="0.5"
    xmlns:nfdem="http://www.dtechspace.com/xml-schema/nfdem/0.5/"
    xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/"
    xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
    xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.0/"
    xmlns:jxdm="http://release.niem.gov/niem/domains/jxdm/6.0/"
    xmlns:mmucc="http://release.niem.gov/niem/codes/mmucc/4.0/"
    xmlns:unece="http://release.niem.gov/niem/codes/unece_rec20/4.0/"
    xmlns:biom="http://release.niem.gov/niem/domains/biometrics/4.0/"
    xmlns:hs="http://release.niem.gov/niem/domains/humanServices/4.0/"
    elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation> This extension schema defines the elements and types for the Nuclear Forensics Data Exchange Model (NFDEM). </xs:documentation>
    </xs:annotation>

    <xs:import schemaLocation="../niem/niem-core/4.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/4.0/"/>
    <xs:import schemaLocation="../niem/proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
    <xs:import schemaLocation="../niem/domains/cbrn/4.0/cbrn.xsd" namespace="http://release.niem.gov/niem/domains/cbrn/4.0/"/>
    <xs:import schemaLocation="../niem/domains/jxdm/6.0/jxdm.xsd" namespace="http://release.niem.gov/niem/domains/jxdm/6.0/"/>
    <xs:import schemaLocation="../niem/codes/mmucc/4.0/mmucc.xsd" namespace="http://release.niem.gov/niem/codes/mmucc/4.0/"/>
    <xs:import schemaLocation="../niem/codes/unece_rec20/4.0/unece_rec20-misc.xsd" namespace="http://release.niem.gov/niem/codes/unece_rec20/4.0/"/>
    <xs:import schemaLocation="../niem/domains/biometrics/4.0/biom.xsd" namespace="http://release.niem.gov/niem/domains/biometrics/4.0/"/>
    <xs:import schemaLocation="../niem/domains/humanServices/4.0/hs.xsd" namespace="http://release.niem.gov/niem/domains/humanServices/4.0/"/>
    <!--xs:import schemaLocation="../niem/utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/-->

    <xs:element name="CaseList" type="nfdem:Case">
        <xs:annotation>
            <xs:documentation> CaseList document corresponds to the Case Identifier Form for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation> XML Schema type for Case type which consists of the unique Case Identifier and details of the Case for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:IncidentManager" minOccurs="1"/>
            <xs:element ref="nfdem:DateTimeCreated" minOccurs="1"/>
            <xs:element ref="nfdem:DateTimeUpdated" minOccurs="1"/>
            <xs:element ref="nfdem:CaseStatus" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="1"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1"/>
            <xs:element ref="nfdem:CaseCommentList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AdminWorksheet" type="nfdem:AdminWorksheetType">
        <xs:annotation>
            <xs:documentation> AdminWorksheet document corresponds to the Administrative Worksheet
                form for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="AdminWorksheetType">
        <xs:annotation>
            <xs:documentation> XML Schema type for AdminWorksheet element which corresponds to the
                Administrative Worksheet form for crime scene investigation. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation"/>
            <xs:element ref="nfdem:ArrivalDateTime" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="0"/>
            <xs:element ref="nfdem:LightingCondition" minOccurs="1"/>
            <xs:element ref="nfdem:PersonPresentOnArrival" minOccurs="0"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1"/>
            <xs:element ref="nfdem:AssistantPreparer" minOccurs="1"/>
            <xs:element ref="nfdem:WeatherCondition" minOccurs="1"/>
            <xs:element name="SceneConsistsOf" type="nc:TextType"/>
            <xs:element name="PersonnelInvolvedAndTheirDuties" type="nc:TextType"/>
            <xs:element name="PreliminarySurveyEvaluation" type="nc:TextType"/>
            <xs:element name="SpecialConditions" type="nc:TextType"/>
            <xs:element name="CrimeSceneConference" type="nc:TextType"/>
            <xs:element name="FinalSurvey" type="nc:TextType"/>
            <xs:element ref="nfdem:CrimeSceneReleasedByList" minOccurs="1"/>
            <xs:element ref="nfdem:CrimeSceneReleasedToList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RadiationSurveyInfo" type="nfdem:RadiationSurveyInfoType">
        <xs:annotation>
            <xs:documentation> RadiationSurveyInfo document corresponds to the Radiation Survey
                Information form for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="RadiationSurveyInfoType">
        <xs:annotation>
            <xs:documentation> XML Schema type for RadiationSurveyInfo element which corresponds to
                the Radiation Survey Information form for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="cbrn:RadInstrumentInformation" minOccurs="1"/>
            <xs:element ref="nfdem:InstrumentCalibrationDateTime" minOccurs="1"/>
            <xs:element ref="nfdem:RadiationSurveyDoseRateList" minOccurs="1"/>
            <xs:element ref="nfdem:SurveyMap" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PersonalRadMonitoringLog" type="nfdem:PersonalRadMonitoringLogType">
        <xs:annotation>
            <xs:documentation> PersonalRadMonitoringLog document corresponds to the Personal
                External Radiation Monitoring Log for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="PersonalRadMonitoringLogType">
        <xs:annotation>
            <xs:documentation> XML Schema type for PersonalRadMonitoringLog element which
                corresponds to the Personal External Radiation Monitoring Log for crime scene
                investigation. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:PersonMonitored" minOccurs="0"/>
            <xs:element ref="nfdem:PersonMonitoredIdentification"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="nfdem:PersonalDosimeterReadingList" minOccurs="1"/>
            <xs:element ref="nfdem:GammaDoseRateMeterReadingList" minOccurs="1"/>
            <xs:element ref="nfdem:ThermoluminescentDosimeterReadingList" minOccurs="1"/>                        
        </xs:sequence>
    </xs:complexType>
  
    <xs:element name="SceneInfo" type="nfdem:SceneInfoType">
        <xs:annotation>
            <xs:documentation> SceneInfo element corresponds to the Scence Information or Diagram form for crime scene investigation. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="SceneInfoType">
        <xs:annotation>
            <xs:documentation> XML Schema type for SceneInfo element which corresponds to the Scence Information or Diagram form for crime scene investigation. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:DateTimeCreated" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1"/>
            <xs:element name="ScaleOrDisclaimer" type="nc:TextType"/>
            <xs:element name="Evidence" type="nc:TextType"/>
            <xs:element name="FixedObjects" type="nc:TextType"/>
            <xs:element name="CompassOrientation" type="nc:TextType"/>
            <xs:element name="KeyLegend" type="nc:TextType"/>
            <xs:element name="SceneDiagram" type="cbrn:ImageFileType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GeneralChainOfCustody" type="nfdem:GeneralChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> GeneralChainOfCustody document corresponds to the generic Chain of
                Custody form for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="GeneralChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> XML Schema type for GeneralChainOfCustody element which corresponds
                to the generic Chain of Custody form for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:ObtainedFrom" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="0"/>
            <xs:element ref="nfdem:ContactInformation" minOccurs="1"/>
            <xs:element ref="nfdem:BillingInformation" minOccurs="1"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:EvidenceIdentificationNumber" minOccurs="0"/>
            <xs:element ref="nfdem:TurnAroundTime" minOccurs="1"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="nfdem:SampleQuantity" minOccurs="1"/>
            <xs:element ref="nfdem:ItemStorageLocation" minOccurs="1"/>
            <xs:element ref="cbrn:DoseRateValue" minOccurs="1"/>
            <xs:element ref="nfdem:SampleList" minOccurs="1"/>
            <xs:element ref="nfdem:CustodyList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="FieldEvidenceChainOfCustody" type="nfdem:FieldEvidenceChainofCustodyType">
        <xs:annotation>
            <xs:documentation> FieldEvidenceChainOfCustody document corresponds to the Chain of Custody form for the field evidence collected as part of the crime scene investigation. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="FieldEvidenceChainofCustodyType">
        <xs:annotation>
            <xs:documentation> XML Schema type for FieldEvidenceChainOfCustody element which corresponds to the Chain of Custody form for the field evidence collected as part of the crime scene investigation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:ObtainedFrom" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="0"/>
            <xs:element ref="nfdem:ContactInformation" minOccurs="1"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="nfdem:SampleQuantity" minOccurs="1"/>
            <xs:element ref="nfdem:ItemStorageLocation" minOccurs="1"/>
            <xs:element ref="nfdem:FieldEvidenceList" minOccurs="1"/>
            <xs:element ref="nfdem:CustodyList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EnvironmentalChainOfCustody" type="nfdem:EnvironmentalChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> EnvironmentalChainOfCustodyType document corresponds to the Chain of
                Custody form for Environmental Analysis. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="EnvironmentalChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> XML Schema type for EnvironmentalChainOfCustody element which
                corresponds to the Chain of Custody form for Environmental Analysis.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:ObtainedFrom" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="0"/>
            <xs:element ref="nfdem:ContactInformation" minOccurs="1"/>
            <xs:element ref="nfdem:BillingInformation" minOccurs="1"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:EvidenceIdentificationNumber" minOccurs="0"/>
            <xs:element ref="nfdem:TurnAroundTime" minOccurs="1"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="nfdem:SampleQuantity" minOccurs="1"/>
            <xs:element ref="nfdem:ItemStorageLocation" minOccurs="1"/>
            <xs:element ref="cbrn:DoseRateValue" minOccurs="1"/>
            <xs:element ref="nfdem:EnvironmentalSampleList" minOccurs="1"/>
            <xs:element ref="nfdem:CustodyList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GeoChemicaChainOfCustody" type="nfdem:GeoChemicaChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> GeoChemicaChainOfCustodyType document corresponds to the Chain of
                Custody form for GeoChemical Analysis. </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="GeoChemicaChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> XML Schema type for GeoChemicaChainOfCustodyType element which
                corresponds to the Chain of Custody form for GeoChemical Analysis.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:ObtainedFrom" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="0"/>
            <xs:element ref="nfdem:ContactInformation" minOccurs="1"/>
            <xs:element ref="nfdem:BillingInformation" minOccurs="1"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:EvidenceIdentificationNumber" minOccurs="0"/>
            <xs:element ref="nfdem:TurnAroundTime" minOccurs="1"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="nfdem:SampleQuantity" minOccurs="1"/>
            <xs:element ref="nfdem:ItemStorageLocation" minOccurs="1"/>
            <xs:element ref="cbrn:DoseRateValue" minOccurs="1"/>
            <xs:element ref="nfdem:GeoChemicalSampleList" minOccurs="1"/>
            <xs:element ref="nfdem:CustodyList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RadiologicalChainOfCustody" type="nfdem:RadiologicalChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> RadiologicalChainOfCustodyType document corresponds to the Chain of
                Custody form for Radiological Analysis. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="RadiologicalChainOfCustodyType">
        <xs:annotation>
            <xs:documentation> XML Schema type for RadiologicalChainOfCustody element which corresponds
                to the Chain of Custody form for Radiological Analysis. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:ObtainedFrom" minOccurs="1"/>
            <xs:element ref="nfdem:Description" minOccurs="0"/>
            <xs:element ref="nfdem:ContactInformation" minOccurs="1"/>
            <xs:element ref="nfdem:BillingInformation" minOccurs="1"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:EvidenceIdentificationNumber" minOccurs="0"/>
            <xs:element ref="nfdem:TurnAroundTime" minOccurs="1"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1"/>
            <xs:element ref="nfdem:Signature" minOccurs="1"/>
            <xs:element ref="nfdem:SampleQuantity" minOccurs="1"/>
            <xs:element ref="nfdem:ItemStorageLocation" minOccurs="1"/>
            <xs:element ref="cbrn:DoseRateValue" minOccurs="1"/>
            <xs:element ref="nfdem:RadiologicalSampleList" minOccurs="1"/>
            <xs:element ref="nfdem:CustodyList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PhotographicLog" type="nfdem:PhotographicLogType">
        <xs:annotation>
            <xs:documentation> PhotographicLog document corresponds to the Photographic Log for
                crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="PhotographicLogType">
        <xs:annotation>
            <xs:documentation> XML Schema type for PhotographicLog element which corresponds to the
                Photographic Log for crime scene investigation. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element name="Date" type="niem-xs:date"/>                
            <xs:element name="Photographer" type="nc:PersonNameTextType"/>  
            <xs:element ref="nfdem:Comment" minOccurs="0"/>        
            <xs:element name="PhotoList" minOccurs="1"/>        
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EvidenceRecoveryLogCover" type="nfdem:EvidenceRecoveryLogCoverType">
        <xs:annotation>
            <xs:documentation> EvidenceRecoveryLogCover document corresponds to the Evidence
                Recovery Log Cover Sheet for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="EvidenceRecoveryLogCoverType">
        <xs:annotation>
            <xs:documentation> XML Schema type for EvidenceRecoveryLogCover element which
                corresponds to the Evidence Recovery Log Cover Sheet for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
            <xs:element ref="nfdem:Comment" minOccurs="1"/>
            <xs:element name="SiteNumber" type="niem-xs:string"/>
            <xs:element name="TeamNumber" type="niem-xs:string"/>
            <xs:element name="GridNumber" type="niem-xs:string"/>
            <xs:element ref="nfdem:SearchTeamPersonnelList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EvidenceRecoveryLog" type="nfdem:EvidenceRecoveryLogType">
        <xs:annotation>
            <xs:documentation> EvidenceRecoveryLog document corresponds to the Evidence Recovery Log
                for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="EvidenceRecoveryLogType">
        <xs:annotation>
            <xs:documentation> XML Schema type for EvidenceRecoveryLog element which corresponds to
                the Evidence Recovery Log for crime scene investigation. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1"/>
            <xs:element ref="nfdem:PersonnelList"/>
            <xs:element ref="nfdem:EvidenceRecoveryItemList" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CrimeSceneEntryLog" type="nfdem:CrimeSceneEntryLogType">
        <xs:annotation>
            <xs:documentation> CrimeSceneEntryLog document corresponds to the Crime Scene Entry Log for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="CrimeSceneEntryLogType">
        <xs:annotation>
            <xs:documentation> XML Schema type for CrimeSceneEntryLog element which corresponds to
                the Crime Scene Entry Log for crime scene investigation. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            <xs:element ref="nfdem:Agency" minOccurs="1"/>
            <xs:element ref="nfdem:PersonEntryList"/>
            <xs:element ref="nfdem:PreparedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DateTimeUpdated"/> 
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RadioactiveMaterialLabel" type="nfdem:RadioactiveMaterialLabelType">
        <xs:annotation>
            <xs:documentation> RadioactiveMaterialLabel document corresponds to the Radioactive
                Material Label for crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="RadioactiveMaterialLabelType">
        <xs:annotation>
            <xs:documentation> XML Schema type for RadioactiveMaterialLabel element which
                corresponds to the Radioactive Material Label for crime scene investigation.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:GeoLocation" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:Description" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="cbrn:DoseRateValue" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:EvidenceIdentificationNumber" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:MaterialSuspected" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SurveyDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:Surveyor" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SurveyOrganization" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SurveyUnit" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SwipeTestResult" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EnvironmentalReport" type="nfdem:EnvironmentalReportType">
        <xs:annotation>
            <xs:documentation> EnvironmentalReport document corresponds to the Environmental Lab
                Report for lab analysis and results. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="EnvironmentalReportType">
        <xs:annotation>
            <xs:documentation> XML Schema type for EnvironmentalReport element which corresponds to
                the the Environmental Lab Report for lab analysis and results. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:AirFilterMediaType" minOccurs="0"/>
            <xs:element ref="nfdem:AirFilterSize" minOccurs="0"/>
            <xs:element ref="nfdem:AirFilterUnit" minOccurs="0"/>
            <xs:element ref="nfdem:Analyst" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalysisMethod" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalysisDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DilutionFactor" minOccurs="0"/>
            <xs:element ref="nfdem:MethodDetectionLimit" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalyteList"/>
            <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DateTimeSamplePrepared" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:LabSampleID" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="cbrn:LowerLimitValue" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:MoisutrePercentage" minOccurs="0"/>
            <xs:element ref="nfdem:PercentSolid" minOccurs="0"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:QualityComment" minOccurs="1"/>
            <xs:element ref="nfdem:MethodBlankValue" minOccurs="0"/>
            <xs:element ref="nfdem:LCSValue" minOccurs="0"/>
            <xs:element ref="nfdem:RecoveyPercentage" minOccurs="0"/>
            <xs:element ref="nfdem:RelativePercentageDifference" minOccurs="0"/>
            <xs:element ref="nfdem:AcceptanceCriteria" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="cbrn:ReportDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:ReviewedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SignatureOfReviewer" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleID" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleMatrix" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GeochemicalReport" type="nfdem:GeochemicalReportType">
        <xs:annotation>
            <xs:documentation> GeochemicalReport document corresponds to the Geochemical Lab Report
                for lab analysis and results. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="GeochemicalReportType">
        <xs:annotation>
            <xs:documentation> XML Schema type for GeochemicalReport element which corresponds to
                the the Geochemical Lab Report for lab analysis and results. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier"/>
            <xs:element ref="nfdem:Analyst" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalysisMethod" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalysisDateTime"/>
            <xs:element ref="nfdem:DilutionFactor"/>
            <xs:element ref="nfdem:MethodDetectionLimit"/>
            <xs:element ref="nfdem:AnalyteList"/>
            <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DateTimeSamplePrepared" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:LabSampleID" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:MoisutrePercentage" minOccurs="0"/>
            <xs:element ref="nfdem:PercentSolid" minOccurs="0"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:QualityComment" minOccurs="1"/>
            <xs:element ref="nfdem:MethodBlankValue" minOccurs="0"/>
            <xs:element ref="nfdem:LCSValue" minOccurs="0"/>
            <xs:element ref="nfdem:RecoveyPercentage" minOccurs="0"/>
            <xs:element ref="nfdem:RelativePercentageDifference" minOccurs="0"/>
            <xs:element ref="nfdem:AcceptanceCriteria" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="cbrn:ReportDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:ReviewedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SignatureOfReviewer" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleID" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleMatrix" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleWeight" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RadiologicalReport" type="nfdem:RadiologicalReportType">
        <xs:annotation>
            <xs:documentation> RadiologicalReport document corresponds to the Radiological Lab
                Report for lab analysis and results. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="RadiologicalReportType">
        <xs:annotation>
            <xs:documentation> XML Schema type for RadiologicalReport element which corresponds to
                the the Radiological Lab Report for lab analysis and results. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:AirFilterMediaType" minOccurs="0"/>
            <xs:element ref="nfdem:AirFilterSize" minOccurs="0"/>
            <xs:element ref="nfdem:AirFilterUnit" minOccurs="0"/>
            <xs:element ref="nfdem:Analyst" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalysisMethod" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalysisDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DilutionFactor" minOccurs="0"/>
            <xs:element ref="nfdem:MethodDetectionLimit" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:AnalyteList"/>
            <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DateTimeSamplePrepared" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:ReadingDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DoseRateValue" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:DosimeterType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:MeasurementUnit" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:FieldTeamName" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:LabSampleID" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:MoisutrePercentage" minOccurs="0"/>
            <xs:element ref="nfdem:NormalizedUnit" minOccurs="1"/>
            <xs:element ref="nfdem:NuclideMinimumDetectableActivity" minOccurs="0"/>
            <xs:element ref="nfdem:PercentSolid" minOccurs="0"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:QualityComment" minOccurs="1"/>
            <xs:element ref="nfdem:MethodBlankValue" minOccurs="0"/>
            <xs:element ref="nfdem:LCSValue" minOccurs="0"/>
            <xs:element ref="nfdem:RecoveyPercentage" minOccurs="0"/>
            <xs:element ref="nfdem:RelativePercentageDifference" minOccurs="0"/>
            <xs:element ref="nfdem:AcceptanceCriteria" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="cbrn:ReportDateTime" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:ReviewedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SignatureOfReviewer" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleID" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleMatrix" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="nfdem:SampleWeight" minOccurs="0"/>
            <xs:element ref="nfdem:NuclideActivityUncertaintyValue" minOccurs="1"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BiologicalReport" type="nfdem:BiologicalReportType">
        <xs:annotation>
            <xs:documentation> BiologicalReport document corresponds to the Biological Lab Report
                for lab analysis and results. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="BiologicalReportType">
        <xs:annotation>
            <xs:documentation> XML Schema type for BiologicalReport element which corresponds to the
                the Biological Lab Report for lab analysis and results. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="nfdem:CaseIdentifier" minOccurs="1"/>
            <xs:element ref="nfdem:Analyst" minOccurs="1"/>
            <xs:element ref="nfdem:AnalysisMethod" minOccurs="1"/>
            <xs:element ref="nfdem:AnalysisDateTime" minOccurs="1"/>
            <xs:element ref="nfdem:SampleID" minOccurs="1"/>
            <xs:element ref="nfdem:LabSampleID" minOccurs="1"/>
            <xs:element ref="nfdem:AnalyteList"/>
            <xs:element ref="nfdem:BiologicalSampleCategory" minOccurs="1"/>
            <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
            <xs:element ref="nfdem:SampleCollectedBy" minOccurs="1"/>
            <xs:element ref="nfdem:DNAAnalysisType" minOccurs="1"/>
            <xs:element ref="biom:DNAElectropherogram" minOccurs="1"/>
            <xs:element ref="biom:DNALaboratory" minOccurs="1"/>
            <xs:element ref="nfdem:InstrumentInformation" minOccurs="1"/>
            <xs:element ref="nfdem:ProjectName" minOccurs="1"/>
            <xs:element ref="nfdem:QualityComment" minOccurs="1"/>
            <xs:element ref="cbrn:ReportDateTime" minOccurs="1"/>
            <xs:element ref="nfdem:ReviewedBy" minOccurs="1"/>
            <xs:element ref="nfdem:SignatureOfReviewer" minOccurs="1"/>


        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SampleWeightType">
        <xs:sequence>
            <xs:element name="WeightMeasure" type="niem-xs:decimal"/>
            <xs:element name="WeightUnit">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pound"/>
                        <xs:enumeration value="Once"/>
                        <xs:enumeration value="Kilogram"/>
                        <xs:enumeration value="Gram"/>
                        <xs:enumeration value="Miligram"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CaseIdentifier" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation> CaseIdentifier Element represents Unique identifier associated with the investigation. 
                A special data type called ID is used for this field, which is defined in a special format and is create during the initial stage of the crime scene investigation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="GeoLocation">
        <xs:annotation>
            <xs:documentation>GeoLocation Element corresponds to the geographic location information about the scene and has two sub-components.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Latitude" type="niem-xs:decimal"/>
                <xs:element name="Longitude" type="niem-xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IncidentManager">
        <xs:annotation>
            <xs:documentation> IncidentManager Element is part of the CaseIdentifierForm and contains the contact information about the official.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:ContactInformation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CaseStatus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Initiated"/>
                <xs:enumeration value="Assigned"/>
                <xs:enumeration value="SampleCollected"/>
                <xs:enumeration value="InLab"/>
                <xs:enumeration value="ReportAnalysis"/>
                <xs:enumeration value="Attribution"/>
                <xs:enumeration value="CaseClosed"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="ContactInformation">
        <xs:annotation>
            <xs:documentation> List of ContactInformation Elements which contains the contact information about a person. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PersonFullName" type="nc:PersonNameTextType"/>
                <xs:element ref="nfdem:JobTitle"/>
                <xs:element ref="nfdem:Agency"/>
                <xs:element name="Address" type="nc:TextType"/>
                <xs:element ref="nfdem:ContactPhoneNumber"/>
                <xs:element name="EmailAddress" type="niem-xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BillingInformation">
        <xs:annotation>
            <xs:documentation> List of BillingInformation Elements which contains Billing and
                Invoice information about the project. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PersonFullName" type="nc:PersonNameTextType"/>
                <xs:element ref="nfdem:JobTitle"/>
                <xs:element ref="nfdem:Organization"/>
                <xs:element name="Address" type="nc:TextType"/>
                <xs:element ref="nfdem:ContactPhoneNumber"/>
                <xs:element name="EmailAddress" type="niem-xs:string"/>
                <xs:element name="PurchaseOrder" type="niem-xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="JobTitle" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>JobTitle element refers to the job title of the person in the contact information</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="TurnAroundTime">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Rush"/>
                <xs:enumeration value="Regular"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="PersonnelList">
        <xs:annotation>
            <xs:documentation> PersonnelList elements refer to the Personnel List List in the Evidence Recovery Log. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:Personnel" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Personnel">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:FullName" minOccurs="1"/>                
                <xs:element name="Initials" type="nc:TextType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EvidenceRecoveryItemList">
        <xs:annotation>
            <xs:documentation> EvidenceRecoveryItemList elements refer to the Evidence Recovery Item List in the Evidence Recovery Log. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:EvidenceRecoveryItem" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="EvidenceRecoveryItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ItemNumber" type="niem-xs:string" minOccurs="1"/>
                <xs:element ref="nfdem:Description" minOccurs="1"/>                
                <xs:element ref="nfdem:ItemFoundLocation" minOccurs="1"/>
                <xs:element ref="nfdem:RecoveredBy" minOccurs="1"/>
                <xs:element name="Photo" type="nc:TextType"/>
                <xs:element name="Marking" type="nc:TextType"/>
                <xs:element ref="nfdem:PackagingMethod" minOccurs="1"/>
                <xs:element ref="nfdem:Comment" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchTeamPersonnelList">
        <xs:annotation>
            <xs:documentation> SearchTeamPersonnelList elements refer to the Search TeamPersonnel List in the Evidence Recovery Log Cover Sheet. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:SearchTeamPersonnel" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="SearchTeamPersonnel">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:FullName" minOccurs="1"/>
                <xs:element ref="nfdem:Signature" minOccurs="1"/>
                <xs:element ref="nfdem:Agency" minOccurs="1"/>
                <xs:element ref="nfdem:OfficeDivision" minOccurs="1"/>
                <xs:element ref="nfdem:ContactPhoneNumber" minOccurs="1"/>
                <xs:element name="PrintInitials" type="niem-xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PhotoList">
        <xs:annotation>
            <xs:documentation> PhotoList elements refer to the list of Photographs in the Photographic Log. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:Photo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Photo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PhotoNumber" minOccurs="1"/>
                <xs:element ref="nfdem:Description" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RadiationSurveyDoseRateList">
        <xs:annotation>
            <xs:documentation> RadiationSurveyDoseRateList elements refer to the list of Radiation Survey Dose Rate readings in the Radiation Survey Map or RadiationSurveyInfo. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:RadiationSurveyDoseRate" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RadiationSurveyDoseRate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Number" minOccurs="1"/>
                <xs:element ref="nfdem:DoseRateValue" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PersonalDosimeterReadingList">
        <xs:annotation>
            <xs:documentation> PersonalDosimeterReadingList elements refer to the list of Personal Dosimeter Reading in the Personal Radiation Monitoring Log. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cbrn:RadInstrumentInformation" minOccurs="1"/>
                <xs:element ref="nfdem:PersonalDosimeterReading" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="PersonalDosimeterReading">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:ReadingDateTime" minOccurs="1"/>
                <xs:element ref="nfdem:DoseRateValue" minOccurs="1"/>
                <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GammaDoseRateMeterReadingList">
        <xs:annotation>
            <xs:documentation> GammaDoseRateMeterReadingList elements refer to the list of Gamma Dose Rate Meter Reading in the Personal Radiation Monitoring Log. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cbrn:RadInstrumentInformation" minOccurs="1"/>
                <xs:element ref="nfdem:GammaDoseRateMeterReading" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GammaDoseRateMeterReading">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:GeoLocation" minOccurs="1"/>
                <xs:element ref="nfdem:DoseRateValue" minOccurs="1"/>
                <xs:element ref="nfdem:ReadingTimeDuration" minOccurs="1"/>
                <xs:element name="EstimatedExternalDose" type="niem-xs:string"/>              
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ThermoluminescentDosimeterReadingList">
        <xs:annotation>
            <xs:documentation> ThermoluminescentDosimeterReadingList elements refer to the list of Thermoluminescent Dosimeter or film badge Reading in the Personal Radiation Monitoring Log. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TLDFilmBadgeNumber" minOccurs="1"/>
                <xs:element ref="nfdem:ThermoluminescentDosimeterReading" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ThermoluminescentDosimeterReading">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:ReceivedBy" minOccurs="1"/>
                <xs:element ref="nfdem:ReceivedBySignature" minOccurs="1"/>
                <xs:element ref="nfdem:ReadingDateTime" minOccurs="1"/>
                <xs:element ref="nfdem:Signature" minOccurs="1"/>
                <xs:element ref="nfdem:DoseRateValue" minOccurs="1"/>            
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CaseCommentList">
        <xs:annotation>
            <xs:documentation> CaseCommentList elements refer to the list of case comment details in the Case Form. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:CaseComment" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="CaseComment">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:Comment" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeCreated" minOccurs="1"/>
                <xs:element ref="nc:PersonFullName" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CustodyList">
        <xs:annotation>
            <xs:documentation> List of CustodyList Elements which corresponds to the Name, DateTime, and signature of the person involved in handling of the custody. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:Custody" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Custody">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:RelinquishedBy" minOccurs="1"/>
                <xs:element ref="nfdem:RelinquishedBySignature" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeReleased" minOccurs="1"/>
                <xs:element ref="nfdem:ReceivedBy" minOccurs="1"/>
                <xs:element ref="nfdem:ReceivedBySignature" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeReceived" minOccurs="1"/>
                <xs:element ref="nfdem:Comment" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SampleList">
        <xs:annotation>
            <xs:documentation> SampleList elements refer to the list of sample details in the Chain
                of Custody form. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:Sample" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Sample">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:SampleID" minOccurs="1"/>
                <xs:element ref="nfdem:SampleMatrix" minOccurs="1"/>
                <xs:element ref="nfdem:PreservativeAdded" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerQuantity" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerType" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
                <xs:element ref="nfdem:AnalysisRequired" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FieldEvidenceList">
        <xs:annotation>
            <xs:documentation> FieldEvidenceList elements refer to the list of sample details in the Field Evidence Chain of Custody form. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:FieldEvidence" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="FieldEvidence">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:EvidenceIdentificationNumber" minOccurs="1"/>
                <xs:element ref="nfdem:Description" minOccurs="1"/>
                <xs:element ref="nfdem:PreservativeAdded" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerQuantity" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerType" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EnvironmentalSampleList">
        <xs:annotation>
            <xs:documentation> EnvironmentalSampleList elements refer to the list of sample details
                in the Chain of Custody form for Environmental analysis. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:EnvironmentalSample" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EnvironmentalSample">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:SampleID" minOccurs="1"/>
                <xs:element ref="nfdem:SampleMatrix" minOccurs="1"/>
                <xs:element ref="nfdem:PreservativeAdded" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerQuantity" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerType" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
                <xs:element ref="nfdem:EnvironmentalAnalysis" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EnvironmentalAnalysis">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullMetalScan" type="xs:boolean"/>
                <xs:element name="HydrideMetals" type="xs:boolean"/>
                <xs:element name="pH" type="xs:boolean"/>
                <xs:element name="ElectricalConductivity" type="xs:boolean"/>
                <xs:element name="Chloride" type="xs:boolean"/>
                <xs:element name="Cyanide" type="xs:boolean"/>
                <xs:element name="HexavalentChromium" type="xs:boolean"/>
                <xs:element name="InorganicAnalysis" type="xs:boolean"/>
                <xs:element name="NutrientAnalysis" type="xs:boolean"/>
                <xs:element name="VOCs" type="xs:boolean"/>
                <xs:element name="PCBs" type="xs:boolean"/>
                <xs:element name="PAHs" type="xs:boolean"/>
                <xs:element name="Pesticides" type="xs:boolean"/>
                <xs:element name="Herbicides" type="xs:boolean"/>
                <xs:element name="Other" type="niem-xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GeoChemicalSampleList">
        <xs:annotation>
            <xs:documentation> GeoChemicalSampleList elements refer to the list of sample details
                in the Chain of Custody form for GeoChemical analysis. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:GeoChemicalSample" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GeoChemicalSample">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:SampleID" minOccurs="1"/>
                <xs:element ref="nfdem:SampleMatrix" minOccurs="1"/>
                <xs:element ref="nfdem:PreservativeAdded" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerQuantity" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerType" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
                <xs:element ref="nfdem:GeoChemicalAnalysis" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="GeoChemicalAnalysis">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PreciousMetalsAnalysis" type="xs:boolean"/>
                <xs:element name="BaseMetals" type="xs:boolean"/>
                <xs:element name="Uranium" type="xs:boolean"/>
                <xs:element name="RareEarthElements" type="xs:boolean"/>
                <xs:element name="AcidRockDrainage" type="xs:boolean"/>
                <xs:element name="LanthanideAnalysis" type="xs:boolean"/>
                <xs:element name="Lithogeochemistry" type="xs:boolean"/>
                <xs:element name="SulfideAnalysis" type="xs:boolean"/>
                <xs:element name="ClassicalAssays" type="xs:boolean"/>
                <xs:element name="AcidBaseAccounting" type="xs:boolean"/>
                <xs:element name="WholeRockAnalysisByXRF" type="xs:boolean"/>
                <xs:element name="CarbonAnalysis" type="xs:boolean"/>
                <xs:element name="SulfurAnalysis" type="xs:boolean"/>
                <xs:element name="Other" type="niem-xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RadiologicalSampleList">
        <xs:annotation>
            <xs:documentation> RadiologicalSampleList elements refer to the list of sample details
                in the Chain of Custody form for Radiological analysis. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:RadiologicalSample" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RadiologicalSample">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:SampleID" minOccurs="1"/>
                <xs:element ref="nfdem:SampleMatrix" minOccurs="1"/>
                <xs:element ref="nfdem:PreservativeAdded" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerQuantity" minOccurs="1"/>
                <xs:element ref="nfdem:ContainerType" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeSampleCollected" minOccurs="1"/>
                <xs:element ref="nfdem:RadiologicalAnalysis" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RadiologicalAnalysis">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GrossAlpha" type="xs:boolean"/>
                <xs:element name="GrossBeta" type="xs:boolean"/>
                <xs:element name="Ra228" type="xs:boolean"/>
                <xs:element name="Ra226" type="xs:boolean"/>
                <xs:element name="TotalUranium" type="xs:boolean"/>
                <xs:element name="GammaEmitters" type="xs:boolean"/>
                <xs:element name="Actinides" type="xs:boolean"/>
                <xs:element name="Sr89" type="xs:boolean"/>
                <xs:element name="Sr90" type="xs:boolean"/>
                <xs:element name="I131" type="xs:boolean"/>
                <xs:element name="Radon" type="xs:boolean"/>
                <xs:element name="Tritium" type="xs:boolean"/>
                <xs:element name="Other" type="niem-xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Description" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> Description Element contains the free description field for any special or site specific conditions and supplemental notes.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="FullName" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> FullName Element represents the full name of the person. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="LightingCondition" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> LightingCondition Element is defined by a data type called Lighting with the following enumeration values: high, medium, low, for describing the visibility of the scene.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PersonPresentOnArrival" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> PersonPresentOnArrival Element represents the name of the person present on arrival at the location.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PreparedBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> PreparedBy Element name of the person recording the measurements or preparing the survey and related documents. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="WeatherCondition" type="mmucc:CrashWeatherConditionCodeType">
        <xs:annotation>
            <xs:documentation> WeatherCondition Element provides information about the weather condition at the scene. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ArrivalDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> ArrivalDateTime Element represents the date and time of arrival of an object or person. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AssistantPreparer" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> AssistantPreparer Element represents the name of the person assisting in the preparation of the worksheet or the crime scene investigation. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DoseRateValue" type="cbrn:DoseRateuSvhType">
        <xs:annotation>
            <xs:documentation> DoseRateValue Element represents Reading of estimated external radiation dose as measured by the instrument. Units in mSv for Dosimeters. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="InstrumentCalibrationDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> InstrumentCalibrationDateTime Element provides the DateTime when the instrument was last calibrated.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RadInstrumentInformation" type="cbrn:RadInstrumentInformationType">
        <xs:annotation>
            <xs:documentation> XML Schema type for RadInstrumentInformation Element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RadInstrumentModelName" type="cbrn:NonBlankStringType">
        <xs:annotation>
            <xs:documentation> XML Schema type for RadInstrumentModelName Element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SequenceNumber" type="niem-xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation> SequenceNumber Element represents the sequence number of items in the list. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="Signature" type="jxdm:SignatureType">
        <xs:annotation>
            <xs:documentation> Signature Element for the signature captured of the person signing the form or the document. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SurveyMap" type="cbrn:ImageFileType">
        <xs:annotation>
            <xs:documentation> SurveyMap Element includes any field sketches, maps, or drawings related to the scene area and evidence collected.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="Comment" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> Comment element represents a field for any additional comments or notes.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DosimeterType" type="cbrn:RadDetectorInformationType">
        <xs:annotation>
            <xs:documentation> DosimeterType Element represents the specific type of dosimeter being used for monitoring.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PersonMonitored" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> PersonMonitored Element represents the name of the person being monitored. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PersonMonitoredIdentification" type="nc:IdentificationType">
        <xs:annotation>
            <xs:documentation> PersonMonitoredIdentification Element represents the identification of the person being monitored.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReadingDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> ReadingDateTime Element for the DateTime of the radiological reading or measurement. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReadingTimeDuration" type="niem-xs:duration">
        <xs:annotation>
            <xs:documentation> ReadingTimeDuration Element represents the time spent in taking the radiological reading from the Dose Rate Meter. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SerialNumber" type="cbrn:NonBlankStringType">
        <xs:annotation>
            <xs:documentation> SerialNumber Element represents the serial number of the radiation monitoring device or other instruments used. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SceneReferenceInformation" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> SceneReferenceInformation Element provides reference information about the scene such as scale, compass orientation, geographical structures, or any additional notes.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AnalysisRequired" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> XML Schema type for AnalysisRequired Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ContactPhoneNumber" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation> ContactPhoneNumber Element contains the telephone number of the person or contact. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ContainerQuantity" type="nc:QuantityType">
        <xs:annotation>
            <xs:documentation> ContainerQuantity Element represents the number of container in the shipment or sample submission. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ContainerType" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> ContainerType Element describes the type of container used for sample collection. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeReceived" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeReceived Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeReleased" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeReleased Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeSampleCollected" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeSampleCollected Element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="EvidenceIdentificationNumber" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation> EvidenceIdentificationNumber Element corrensponds to the unique identifier assigned to an evidence or item.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ItemStorageLocation" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> ItemStorageLocation Element corresponds to the description of the item is stored. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ObtainedFrom" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> ObtainedFrom Element provides the description of where or from whom the item was obtained from.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReceivedBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> ReceivedBy Element represents the name of person who received the item. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReceivedBySignature" type="jxdm:SignatureType">
        <xs:annotation>
            <xs:documentation> ReceivedBySignature Element represents the signature of person who received the item. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RelinquishedBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> RelinquishedBy Element represents the name of the person releasing or
                relinquishing the item. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RelinquishedBySignature" type="jxdm:SignatureType">
        <xs:annotation>
            <xs:documentation> RelinquishedBySignature Element represents the signature of the
                person reliquinshing the item. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SampleCollectedBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> SampleCollectedBy Element represents the name of the person who collected the sample. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SampleID" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation> XML Schema type for SampleID Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SampleMatrix" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> SampleMatrix element represents the nature of the sample material or
                the matrix, which is listed in the Chain of Custody forms and the lab reports.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="Agency" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> Agency Element represents the name of the agency being represented. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="IdentifyingInformation" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> IdentifyingInformation Element provides any identifying information about the site or team or location.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="OfficeDivision" type="nc:OrganizationType">
        <xs:annotation>
            <xs:documentation> OfficeDivision Element corresponds to the name of the Office or Divison which the personnel represent.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ItemFoundLocation" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> ItemFoundLocation Element is a description of the location where item was found.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PackagingMethod" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> PackagingMethod Element provides a description of the method used to package the items. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RecoveredBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> RecoveredBy Element represents the name of the person who recovered an item. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="EntryDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> EntryDateTime Element corresponds to the DateTime of entry as part of the crime scene entry log.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ExitDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation>ExitDateTime Element corresponds to the DateTime of entry as part of the crime scene entry log. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SceneEntryReason" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> SceneEntryReason Element provides a description of why the person entered the scene.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="MaterialSuspected" type="cbrn:RadItemInformationType">
        <xs:annotation>
            <xs:documentation>MaterialSuspected Element provides information regarding the suspected radiological material.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SurveyDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> SurveyDateTime Element represents the DateTime of the survey. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="Surveyor" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> Surveyor Element represents the name of the surveyor. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SurveyOrganization" type="nc:OrganizationType">
        <xs:annotation>
            <xs:documentation> SurveyOrganization Element represents the name of organization conducting the survey. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SurveyUnit" type="nc:OrganizationType">
        <xs:annotation>
            <xs:documentation> SurveyUnit Element represents the unit within the organization conducting the survey. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SwipeTestResult" type="cbrn:AnalysisResultsType">
        <xs:annotation>
            <xs:documentation> SwipeTestResult Element represents the radiation survey data or the result from the swipe test. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AirFilterMediaType" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>AirFilterMediaType Element provides a description of the media type used in the air filter. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AirFilterSize" type="nc:NumericType">
        <xs:annotation>
            <xs:documentation> AirFilterSize Element represents the size of the air filter in units defined. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AirFilterUnit" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> AirFilterUnit Element defines the unit of the air filter size. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DataSourceDescription" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>DataSourceDescription Element provides a description of the source data acqusition or data entry.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeSamplePrepared" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeSamplePrepared Element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeStarted" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeStarted Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeStopped" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation>DateTimeStopped Element represents the DateTime when the sampling or an event was stopped.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="FieldTeamName" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>FieldTeamName Element represents the name or ID of the team involved in the field operations. </xs:documentation>
        </xs:annotation>
    </xs:element>

    

    <xs:element name="PreservativeAdded" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> PreservativeAdded Element corresponds to the description in the Chain of Custody form about the preservative added to the sample. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ProjectName" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation> ProjectName Element represents the name of the project or event. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SampleQuantity" type="nc:QuantityType">
        <xs:annotation>
            <xs:documentation> SampleQuantity Element corresponds to the number of samples or its quantity. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>
  
    

    <xs:element name="SampleWeight" type="nfdem:SampleWeightType">
        <xs:annotation>
            <xs:documentation> SampleWeight Element represents the weight of the sample logged in on arrival at the lab and is presented in the lab report. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SpecialInstructions" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> SpecialInstructions Element refers to the project related special instructions and also for sample handling and analysis. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    

    

    <xs:element name="VolumeUnit" type="unece:VolumeUnitCodeType">
        <xs:annotation>
            <xs:documentation> List of codes under the VolumeUnit element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ContactDoseRate" type="cbrn:DoseRateType">
        <xs:annotation>
            <xs:documentation>ContactDoseRate Element contains radiation survey data describing the nature of the radiation associated with the item. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeShipped" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeShipped Element. </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:element name="LabAddress" type="nc:AddressType">
        <xs:annotation>
            <xs:documentation>LabAddress Element refers to the address information of the lab.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="LabName" type="nc:ProperNameTextType">
        <xs:annotation>
            <xs:documentation>LabName Element represents the name of the lab. </xs:documentation>
        </xs:annotation>
    </xs:element>

    

    

    

    

    <xs:element name="DateTimeCreated" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation>DateTimeCreated Element corresponds to the DateTime when the document or an entry was created. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeStartShift" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation>DateTimeStartShift Element corresponds to the DateTime of the start of the shift. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeEndShift" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> XML Schema type for DateTimeEndShift Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DateTimeUpdated" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation>DateTimeUpdated Element represents the DateTime when the entry log or a worksheet was updated.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="EntryCreatedBy" type="nc:PersonType">
        <xs:annotation>
            <xs:documentation>EntryCreatedBy Element represents the name of the person who created or prepared the log entries. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    

    <xs:element name="Mission" type="nc:MissionType">
        <xs:annotation>
            <xs:documentation>Mission Element provides a brief description of the team's mission. </xs:documentation>
        </xs:annotation>
    </xs:element>
     
    <xs:element name="Organization" type="nc:OrganizationType">
        <xs:annotation>
            <xs:documentation> Organization Element represents the name of the organization. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="UpdatedBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> UpdatedBy Element represents the name of the person who updated the document and its contents. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AcceptanceCriteria">
        <xs:annotation>
            <xs:documentation> List of maximum and minimum percentage of accuracy for the AcceptanceCriteria Element of a lab report.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:AcceptanceCriteriaMinimum"/>
                <xs:element ref="nfdem:AcceptanceCriteriaMaximum"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AcceptanceCriteriaMinimum" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation> AcceptanceCriteriaMinimum Element represents the minimum percent value of accuracy for the AcceptanceCriteria field in lab reports.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AcceptanceCriteriaMaximum" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation> AcceptanceCriteriaMaximum Element represents the maximum percent value of accuracy for the AcceptanceCriteria field in lab reports.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AnalysisDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> AnalysisDateTime Element represents the date and time of analysis. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AnalysisMethod" type="nc:TextType"/>

    <xs:element name="AnalyteList">
        <xs:annotation>
            <xs:documentation> List of Analyte elements being reported in lab reports. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:Analyte" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Analyte">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:AnalyteName"/>
                <xs:element ref="nfdem:AnalysisResult"/>
                <xs:element ref="nfdem:ReportingUnit"/>
                <xs:element ref="nfdem:RequiredDetectionLimit"/>
                <xs:element ref="nfdem:InstrumentInformation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Analyst" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> XML Schema type for Analyst Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AnalyteName" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> XML Schema type for AnalyteName Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DilutionFactor" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>DilutionFactor Element corresponds to the dilution factor used in the analysis and reported in lab results. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="InstrumentInformation" type="nc:TextType">
        <xs:annotation>
            <xs:documentation>InstrumentInformation Element represents the name and information about the instrument used for analysis.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="LabSampleID" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>LabSampleID Element corresponds to the sample ID assigned in the lab to the sample being analyzed. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="LCSValue" type="nc:NumericType">
        <xs:annotation>
            <xs:documentation>LCSValue Element represents the result value of the Lab Control Sample as part of the analysis.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="MethodBlankValue" type="nc:NumericType">
        <xs:annotation>
            <xs:documentation>MethodBlankValue Element provides the result of the method blank sample run in the analysis. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="MethodDetectionLimit" type="nc:NumericType">
        <xs:annotation>
            <xs:documentation>MethodDetectionLimit Element provides the minimum method detection limit value in the lab report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="MoisutrePercentage" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation>MoisutrePercentage Element corresponds to the moisture content in the sample reported in the lab results. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="NuclideMinimumDetectableActivity" type="cbrn:NuclideMDAType">
        <xs:annotation>
            <xs:documentation> NuclideMinimumDetectableActivity Element represents the Nuclide Minimum Detectable Activity or MDA expressed in kilobequerel, or kBq units in Radiological Lab Report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PercentSolid" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation> PercentSolid Element for the percent solid value in the lab report. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="QualityComment" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> QualityComment Element represents any quality assurance notes in the lab report related to the analysis. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RecoveyPercentage" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation> RecoveyPercentage Element represents the recovery percent value or accuracy of the lab quality assurance samples. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RelativePercentageDifference" type="nc:NumericType">
        <xs:annotation>
            <xs:documentation> RelativePercentageDifference Element represents the Relative Percentage Difference or the level of precision in the quality assurance section of the lab report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReportDateTime" type="niem-xs:dateTime">
        <xs:annotation>
            <xs:documentation> ReportDateTime Element represents the DateTime when the report was created or reported. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReportingUnit" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> ReportingUnit Element represents the unit of the results being reported. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="RequiredDetectionLimit" type="nc:NumericType">
        <xs:annotation>
            <xs:documentation> RequiredDetectionLimit Element or the RDL corresponds to the Required Detection Limit for the results in the lab report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ReviewedBy" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> ReviewedBy Element represents the name of the reviewer of the lab results. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SignatureOfReviewer" type="jxdm:SignatureType">
        <xs:annotation>
            <xs:documentation> SignatureOfReviewer Element represents the signature of the reviewer of the lab results. 
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    

    <xs:element name="MeasurementUnit" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> MeasurementUnit Element provides the unit of measurement being reported. </xs:documentation>
        </xs:annotation>
    </xs:element>
 

    <xs:element name="NormalizedUnit" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> XML Schema type for NormalizedUnit Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="LowerLimitValue" type="cbrn:DoubleType">
        <xs:annotation>
            <xs:documentation> LowerLimitValue Element represents the lower limit value of the regulatory guideline which is presented in the lab report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="UpperLimitValue" type="cbrn:DoubleType">
        <xs:annotation>
            <xs:documentation> UpperLimitValue Element represents the upper limit value of the regulatory guideline which is presented in the lab report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="NuclideActivityUncertaintyValue" type="cbrn:NuclideActivityUncertaintyType">
        <xs:annotation>
            <xs:documentation> NuclideActivityUncertaintyValue Element represents the absolute uncertainty in the value of the NuclideActivityValue expressed in kBq units.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="BiologicalSampleCategory" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> BiologicalSampleCategory Element contains the details about biological material taken as a collection sample. 
                Examples are blood, semen, buccal swabs, blood stains, saliva, urine, body fluids, hair, tissue, bones, teeth, etc.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNALocusIdentification" type="nc:IdentificationType">
        <xs:annotation>
            <xs:documentation> DNALocusIdentification Element provides an identification of a DNA locus.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNAAnalysisQuantityCode" type="biom:DNAAnalysisQuantityCodeType">
        <xs:annotation>
            <xs:documentation> DNAAnalysisQuantityCode Element corresponds to the a number of DNA Analyses in a record or reported in a biological report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNAAnalysisType" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> DNAAnalysisType Element represents the type of DNA analysis for the sample or evidence.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNADonorCollectionLocation" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> DNADonorCollectionLocation Element provides a description of the location from where the DNA donor sample was collected.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNAKitDescription" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> DNAKitDescription Element provides a description of a DNA Kit.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNAProfileComment" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> DNAProfileComment Element represents a descriptive comment about a DNA profile.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNASampleComment" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> DNASampleComment Element represents any comment/additional information regarding a DNA sample.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="HasAnimalBlood" type="niem-xs:boolean">
        <xs:annotation>
            <xs:documentation> HasAnimalBlood Element provides an indication of whether animal blood could be reasonably present in the sample.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PresumptiveTests" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> PresumptiveTests Element provides information on any presumptive chemical tests if it were performed for the presence of blood on the evidence. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DNASampleCollectionMethod" type="nc:TextType">
        <xs:annotation>
            <xs:documentation> DNASampleCollectionMethod Element corresponds to the collection method description of the DNA Sample.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="SubjectName" type="nc:PersonNameTextType">
        <xs:annotation>
            <xs:documentation> SubjectName Element represents the name of the subject or person. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="AnalysisResult" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation> XML Schema type for AnalysisResults Element. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="PersonEntryList">
        <xs:annotation>
            <xs:documentation> List of PersonEntry Elements from the Crime Scene Entry Log. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:PersonEntry" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="PersonEntry">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:SequenceNumber" minOccurs="1"/>
                <xs:element ref="nc:PersonFullName" minOccurs="1"/>
                <xs:element ref="nfdem:JobTitle" minOccurs="1"/>
                <xs:element ref="nfdem:Agency" minOccurs="1"/>
                <xs:element ref="nfdem:EntryDateTime" minOccurs="1"/>
                <xs:element ref="nfdem:ExitDateTime" minOccurs="1"/>
                <xs:element ref="nfdem:SceneEntryReason" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CrimeSceneReleasedByList">
        <xs:annotation>
            <xs:documentation> CrimeSceneReleasedBy Elements from the Administrative Worksheet which consists the details of the authorized personnel releasing the crime scene operations and scene. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:CrimeSceneReleasedBy" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="CrimeSceneReleasedBy">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nc:PersonFullName" minOccurs="1"/>
                <xs:element ref="nfdem:JobTitle" minOccurs="1"/>
                <xs:element ref="nfdem:Agency" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeCreated" minOccurs="1"/>
                <xs:element ref="nfdem:Signature" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CrimeSceneReleasedToList">
        <xs:annotation>
            <xs:documentation> CrimeSceneReleasedTo Elements from the Administrative Worksheet which consists the details of the authorized personnel to whom the crime scene operations and scene are being released to. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nfdem:CrimeSceneReleasedTo" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="CrimeSceneReleasedTo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nc:PersonFullName" minOccurs="1"/>
                <xs:element ref="nfdem:JobTitle" minOccurs="1"/>
                <xs:element ref="nfdem:Agency" minOccurs="1"/>
                <xs:element ref="nfdem:DateTimeCreated" minOccurs="1"/>
                <xs:element ref="nfdem:Signature" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
